---
title: "Software"
layout: splash
permalink: /software/
header:
  overlay_color: "#000"
  overlay_filter: "0"
  overlay_image: /assets/images/hex.jpg
  alt: "Blue hexagons"
  cta_label: "Software"
  #caption: "Caption could go here"
excerpt: ""

intro: 
  - title: ""
  - excerpt: '[Knockoffs](#knockoffs){: .btn .btn--info} [BLiP](#blip){: .btn .btn--info}'

knockoff_row:

  - image_path: /assets/images/projects/knockpy2.png
    alt: "An example of the knockoff W-statistic path"
    title: "knockpy"
    excerpt: "knockpy is an efficient python implementation of the knockoff framework for controlled variable selection, available via pip or [github](https://github.com/amspector100/knockpy)."
    url: https://amspector100.github.io/knockpy
    btn_class: "btn--info"
    btn_label: Documentation

blip_row:

  - image_path: /assets/images/projects/pyblip.png
    alt: "An example of blipr applied to change-point detection"
    title: "pyblip"
    excerpt: "pyblip is a python implementation of BLiP, a method for resolution-adaptive signal detection."
    url: https://amspector100.github.io/pyblip
    btn_class: "btn--info"
    btn_label: Documentation

  - image_path: /assets/images/projects/blipr.png
    alt: "An example of blipr applied to change-point detection"
    title: "blipr"
    excerpt: "blipr is a R implementation of BLiP, a method for resolution-adaptive signal detection."
    url: https://amspector100.github.io/blipr
    btn_class: "btn--info"
    btn_label: Documentation

---
<!-- 
Note to self: for buttons acting as a table-of-contents,
see https://raw.githubusercontent.com/vcidst/vcidst.github.io/master/_pages/projects-archive.md
and 
https://shailendra.me/projects/#desktop-and-console-applications

The current implementation does not quite work.

{% include feature_row id="intro" %}
 -->

<h1 href="#knockoffs"> Knockoffs </h1>

{% include feature_row id="knockoff_row" %}

<h1 href="#blip"> Localizing Signals with BLiP </h1>

{% include feature_row id="blip_row" %}