{% comment %}
  Custom author links from _config.yml author.links
{% endcomment %}

{% if site.author.links %}
  {% for link in site.author.links %}
    <li>
      <a href="{{ link.url }}" itemprop="sameAs"{% if link.url contains "://" %} target="_blank" rel="nofollow noopener noreferrer"{% endif %}>
        {% if link.icon %}
          {% if link.icon contains "fa" %}
            <i class="{{ link.icon }}" aria-hidden="true"></i> 
          {% else %}
            <span class="{{ link.icon }}" aria-hidden="true"></span> 
          {% endif %}
        {% endif %}{{ link.label }}
      </a>
    </li>
  {% endfor %}
{% endif %}